// global styles
body {
  margin: 0;
  padding: 0;
}
::placeholder {
  color: $placeHoldeColor !important;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $placeHoldeColor !important;
}
::-ms-input-placeholder {
  color: $placeHoldeColor !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
  color: $fontColorBlack;
  text-decoration: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
// end global styles
