$darkBlue: #04156c;
$darkYellow: #ffc300;
$fontColorBlack: #222;
$fontColorWhite: #fff;
$fontColorDarkGrey: #696969;
$borderColorSnowWhite: #e2e2e2;
$placeHoldeColor: #535252;
$fontColorDarkPink: #f82e56;
$darkNavy: #333745;
